doctype html
html(lang="en")
  head
    title P2 Contacts
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css")
    style.
      .info-block {
          border-top: solid 1px red;
          margin-top:4rem;
      }
      .info::before {
          content: '\1F4CC';
          font-size: 50px;
          float:left;
          margin-right:1em;
      }
      .info {
          clear:both;
          margin-bottom:2rem;
      }
  body
    a(href="/login") Sign in
    h1 Contact List
    a(href="/create") Create a new contact
    table
      thead
        tr
          th Name
          th Phone
          th Email
          th Address
          th Contact
      tbody
    //-     each contact in contacts
    //-       tr
    //-         td
    //-           section
    //-             a(href=contact.link) #{contact.name}
    //-         td
    //-           section #{contact.phone}
    //-         td
    //-           section #{contact.email}
    //-         td
    //-           section
    //-             each line in contact.address
    //-               span= line
    //-               br
    //-             section #{contact.country}
    //-         td
    //-           section
    //-             each option in contact.contact_options
    //-               input(id=`${option.id}${contact.id}`, type="checkbox", disabled=option.disabled, checked=option.checked)
    //-               label(for=`${option.id}${contact.id}`) #{option.label}
